.nappr-map__container {
  background-color: #000;
  flex: 1;
  width: 100%;
  height: 100%;

  &.leaflet-container {
    .leaflet-control-container {
      .leaflet-center,
      .leaflet-middle {
        position: absolute;
        z-index: 1000;
        pointer-events: none;
      }

      .leaflet-middle {
        top: 50%;
      }

      .leaflet-center {
        left: 50%;
      }
    }

    .leaflet-div-icon {
      background: none !important;
      border: 0 !important;
    }

    .leaflet-marker-divicon-container {
      position: absolute;
    }

    .leaflet-marker-divicon-inner {
      position: relative;
    }

    .map-marker-icon {
      background: #fff !important;
      border-radius: 14px;
      height: 28px !important;
      width: 28px !important;
    }

    .leaflet-popup-close-button {
      right: 3px !important;
      top: 3px !important;
    }

    .leaflet-popup-content-wrapper {
      border-radius: 4px !important;
    }

    .leaflet-control-zoom {
      border: 0 !important;
      border-radius: 16px !important;
      box-shadow: 0 0 10px 0 rgb(0 0 0 / 45%) !important;
      margin-bottom: 12px !important;
      margin-right: 12px !important;
      overflow: hidden;

      a {
        font-size: 1.4em;
        height: 32px !important;
        width: 32px !important;
      }
    }
  }
}

.nappr-map__ {
  &__tooltip {
    background: #202630;
    border-color: #202630;
    color: #fff;

    &.leaflet-tooltip-top::before {
      border-top-color: #202630;
    }
  }

  &__layer-toggle-button {
    border: 0;
    border-radius: 2px;
    display: block;
    height: 38px;
    width: 38px;
  }

  &__layer-button {
    background: #fff;
    border: 0;
    border-radius: 2px;
    display: block;
    height: 38px;
    margin-left: 3px;
    margin-right: 3px;
    padding: 3px;
    width: 38px;

    & > picture img {
      display: block;
    }
  }

  &__control-layer-bar {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 38px;
    justify-content: center;
    vertical-align: middle;
    width: auto;
  }
}

@media (max-width: 768px) {
  .nappr-map__container {
    .leaflet-control-zoom {
      display: none;
      visibility: hidden;
    }
  }
}
