@import '~leaflet/dist/leaflet.css';

.nappr-gamemap {
  $white: #FFFFFF;
  $danger: #C94130;
  $danger-hover: #BF2917;
  $success: #00B35B;
  $success-hover: #00B35B;

  flex: 1;
  background-color: #000000;

  &-button-danger {
    background: $danger;
    color: $white;

    &:hover {
      background: $danger-hover;
    }
  }

  &-button-success {
    background: $success;
    color: $white;

    &:hover {
      background: $success-hover;
    }
  }

  &.leaflet-container {
    .leaflet-div-icon {
      border: 0 !important;
      background: none !important;
    }

    .leaflet-marker-divicon-container {
      position: absolute;
    }

    .leaflet-marker-divicon-inner {
      position: relative;
    }

    .map-marker-icon {
      width: 28px !important;
      height: 28px !important;
      border-radius: 14px;
      background: #FFFFFF !important;
    }

    .leaflet-popup-close-button {
      top: 3px !important;
      right: 3px !important;
    }

    .leaflet-popup-content-wrapper {
      -webkit-border-radius: 4px !important;
      -moz-border-radius: 4px !important;
      border-radius: 4px !important;
    }

    .leaflet-control-zoom {
      margin-right: 12px !important;
      margin-bottom: 12px !important;
      overflow: hidden;
      border: 0 !important;
      border-radius: 16px !important;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.45) !important;

      a {
        width: 32px !important;
        height: 32px !important;
        font-size: 1.4em;
      }
    }
  }
}

@media (max-width: 768px) {
  .nappr-gamemap {
    .leaflet-control-zoom {
      display: none;
      visibility: hidden;
    }
  }
}
